body {
 background-color: #EAF6F6;
}
/*
h1 {
  color: #E23E57;
}

h2 {
  color: #222831;
}
h3 {
  color: #222831;
}
h4 {
  color: #222831;
}
*/
hr {
 border-style: none;
 border-top-style:double;
 border-color: #B83B5E;
 border-width: 4px;
 width: 30%;
 }
